<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assinar Documento - UnBSign</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id="container">
        <header>
            <h1 id="cabecalho"><strong>UnB - SIGAA </strong> - Sistema Integrado de Gestão de Atividades Acadêmicas
            <a href="/logout" id="logout-button" style="color: white !important; float: right !important; margin-right: 55px !important;">Sair</a>
            </h1>
            <div id="usuario" style="color: black !important; margin-left: 4px;">
                <strong>{{ full_name }}</strong>
            </div>
            <div id="modulos">
                <div class="modulo-item">Ensino</div>
                <div class="modulo-item">Pesquisa</div>
                <div class="modulo-item">Extensão</div>
                <div class="modulo-item">Bolsas</div>
                <div class="modulo-item">Estágio</div>
                <div class="modulo-item">Mobilidade</div>
                <div class="modulo-item"><a href="/validation/upload" target="_blank">VALIDAR ASSINATURA</a></div>
            </div>
            <div id="pagina"><strong>Portal Discente > Assinar Documento</strong></div>
        </header>
        
        <div class="form-container">
            <div class="form-header">
                Assinar Documento
            </div>
            <form class="form-body" method="post" enctype="multipart/form-data" id="uploadForm">
                <div class="input-group">
                    <label for="file-upload">Escolha um arquivo PDF para assinar:</label>
                    <input type="file" name="file" id="file-upload" class="file-input" accept="application/pdf" required>
                </div>
                <div class="form-button">
                    <button type="submit">Carregar</button>
                    <button type="button" onclick="window.location.reload();">Cancelar</button>
                </div>
            </form>
        </div>
        
        <div class="pdf-container" id="pdfContainer">
            
            <canvas id="pdfCanvas" onContextMenu="return false;"></canvas>
            <div class="stamp" id="stamp">CARIMBO</div>
            
        </div>
        <div class="pdf-navigation" id="pdfNavigation">
            <div class="pdf-nav-buttons">
                <button id="prevButton">Anterior</button>
                <span id="pageNumberDisplay">0</span>
                <button id="nextButton">Próximo</button>
            </div>
            <button id="signButton">ASSINAR</button>
        </div>
        

        <footer>
            SIGAA | Secretaria de Tecnologia da Informação - STI - (61) 3107-0102
        </footer>
    </div>
    <script>window.API_URL = "{{ api_url }}"</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js"></script>
    <script src="../static/js/assinatura_pdf.js"></script>
</body>
</html>